---
import Layout from "@/layouts/Layout.astro";
import Background from "@/components/Background.astro";
import Hero from "@/sections/Hero.astro";
import Proyects from "@/sections/Proyects.astro";
import Skills from "@/sections/Skills.astro";
import Footer from "@/sections/Footer.astro";
---

<Layout
  title="Camilo Blandon | Frontend Developer - Portfolio"
  description="Descubre el portafolio de Camilo Blandon, Frontend Developer con experiencia en desarrollo web y aplicaciones modernas."
>
  <Background>
    <Hero />
    <Proyects />
    <div class="overflow-y-hidden overflow-x-visible">
      <Skills />
      <Footer />
    </div>
  </Background>
</Layout>
