<div class="grids grid place-content-center"><slot /></div>
<style>
  .grids {
    position: relative;
    overflow: visible;

    &::after {
      content: "";
      position: absolute;
      z-index: -5;
      width: 150%;
      height: 100%;
      left: -50%;
      border-radius: 50%;
      background-image: linear-gradient(
          rgba(255, 255, 255, 0.03) 1px,
          transparent 1px
        ),
        linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
      background-size: 40px 40px;
      mask-image: radial-gradient(
        circle at 50% 50%,
        black 20%,
        transparent 80%
      );
      pointer-events: none;
    }
  }
</style>
