<h2
  class="text-md md:text-xl flex gap-x-2 font-mono font-medium px-4 items-center justify-center uppercase bg-gradient-to-b from-accent border-[#373739] py-1 rounded-full border w-fit"
>
  <slot />
</h2>
