---
import Name from "@/assets/name.svg";
---

<footer class="h-24 mt-10">
  <div class="flex flex-col items-center justify-center gap-y-2 text-center">
    <span class="z-10 text-sm mx-auto"> Hecho con 💜 por ACBC </span>
    <Name class={"w-full"} />
  </div>
</footer>
