<footer class="flex items-center justify-around my-3">
  <h3>made with 💜 by ACBC</h3>
  <a
    class="underline"
    target="_blank"
    href="https://x.com/educalvolpz/status/1866883202045882540"
    >Inspired on
  </a>
</footer>

<style>
  h3 {
    position: relative;
    /* &::before {
      content: "Camilo Blandon";
      position: absolute;
      width: 200%;
      height: 200%;
      inset: 0;
    } */
  }
</style>
