---
// import { Button } from "@/components/ui/button";
import GithubSvg from "@/svg/github.svg";
import LinkedinSvg from "@/svg/linkedin.svg";
import CVSVG from "@/svg/cv.astro";
import Button from "@/components/Button.astro";
import Grid from "@/components/Grid.astro";
---

<Grid>
  <section
    class="my-20 flex flex-col px-4 md:px-10 items-start justify-center gap-y-5"
  >
    <header>
      <h1 class="text-4xl font-bold">
        Hi<br /> I'm a Camilo Blandon
      </h1>
    </header>
    <section class="text-muted-foreground">
      <p>
        I'm a frontend developer with a strong passion for building scalable and
        high-quality applications using modern technologies like React, Next.js,
        and TypeScript. I focus on performance optimization, responsive design,
        and writing maintainable code to deliver robust and efficient solutions.
        I am always eager to learn new technologies and take on challenging
        projects while adapting to diverse work environments.
      </p>
    </section>

    <footer class="flex gap-x-2">
      <a href="https://www.linkedin.com/in/acbc-dev/">
        <Button> Linkedin <LinkedinSvg class="fill-white" /></Button>
      </a>

      <a href="https://github.com/acbcdev">
        <Button>
          GitHub <GithubSvg />
        </Button>
      </a>
      <a href="/cv.pdf" target="_blank">
        <Button>
          Resume <CVSVG />
        </Button>
      </a>
    </footer>
  </section>
</Grid>
