---
import Brain from "@/svg/brain.svg";
import Title from "@/components/Title.astro";
import Grid from "@/components/Grid.astro";
interface skillType {
  src: string;
  name: string;
}
export const SkillsICons: skillType[] = [
  { src: "/skills/html.svg", name: "HTML" },
  { src: "/skills/css.svg", name: "CSS" },
  { src: "/skills/javascript.svg", name: "Javascript" },
  { src: "/skills/tailwindcss.svg", name: "Tailwindcss" },
  { src: "/skills/react.svg", name: "React" },
  { src: "/skills/nextjs.svg", name: "Next.js" },
  { src: "/skills/typescript.svg", name: "Typescript" },
  { src: "/skills/astro.svg", name: "Astro.js" },
  { src: "/skills/bash.svg", name: "Bash" },
  {
    src: "/skills/angular.svg",
    name: "Angular",
  },
];
---

<Grid>
  <section class="grid gap-10 my-10 px-4 md:px-10 mb-10">
    <Title>
      <Brain /> Skills
    </Title>

    <section class="flex flex-wrap gap-2">
      {
        SkillsICons.map(({ name, src }) => (
          <div class="text-base md:text-xl hover:scale-105 duration-200 flex items-center justify-center gap-x-2  px-2  bg-gradient-to-r from-accent border-bg-dark py-1 rounded-lg border w-fit">
            <img src={src} alt={name} class="size-6" />
            {name}
          </div>
        ))
      }
    </section>
  </section>
</Grid>
