---
interface Props {
  className?: string;
  bgImage?: string;
}
const { className, bgImage } = Astro.props;
---

<section
  class:list={[
    "bg-accent/80 backdrop-blur-md p-4 rounded-3xl group/card relative overflow-hidden transition-all duration-300",
    "hover:bg-accent/90 hover:shadow-lg hover:scale-101",
    "border border-accent/20 hover:border-white/5",
    className,
  ]}
>
  {
    bgImage && (
      <div
        class="absolute inset-0 -z-10 opacity-20 blur-xs group-hover/card:blur-[1px] group-hover/card:opacity-30 transition-opacity duration-300 "
        style={`background-image: url(${bgImage}); background-size: cover; background-position: center;`}
      />
    )
  }
  <div class="relative z-10">
    <slot />
  </div>
</section>
