---
interface Props {
  link: string;
  img: string;
  alt: string;
}

const { link, img, alt } = Astro.props;
---

<a href={link} target="_blank" class="block overflow-hidden rounded-lg h-full">
  <div class="relative h-full aspect-video md:aspect-auto">
    <img
      src={img}
      class="w-full h-full object-cover rounded-lg transition-all duration-300 group-hover/card:scale-105 group-hover/card:brightness-110"
      alt={alt}
      loading="lazy"
    />
  </div>
</a>
