---
interface Props {
  description: string;
  tags: string[];
  hiddenTags?: boolean;
  hiddenDescription?: boolean;
  classDescription?: string;
}
const {
  description,
  tags,
  hiddenTags = false,
  hiddenDescription = false,
  classDescription,
} = Astro.props;
---

{
  !hiddenDescription && (
    <p
      class:list={[classDescription, "text-foreground/80 "]}
      title={description}
    >
      {description}
    </p>
  )
}

{
  !hiddenTags && (
    <div class="flex flex-wrap gap-2 p-4">
      {tags.map((tag) => (
        <span class="text-primary/70 text-xs md:text-sm bg-background/20 px-2 py-1 rounded-full">
          #{tag}
        </span>
      ))}
    </div>
  )
}
