---
import "@/styles/globals.css";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Astro Basics</title>
  </head>
  <body class="dark">
    <slot />
  </body>
</html>

<style is:global>
  html,
  body {
    width: 65ch;
    margin-inline: auto;
    gap: 5rem 0;
    display: grid;
    justify-content: center;
    align-items: center;
  }
</style>
